body {
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
}

canvas {
    background-color: red;
    margin-top: 255px;
    border: 5px groove skyblue;
    border-radius: 25px;
}